<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Intersoft_ProjectOnline_QC_2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Intersoft_ProjectOnline_QC_2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Intersoft_ProjectOnline_QC_2017.Properties.Settings>
            <setting name="DEV_DBConnection" serializeAs="String">
                <value>Data Source =imssqlreporting; Initial Catalog = PSO_Intersoft; Integrated Security = True</value>
            </setting>
            <setting name="DEV_PO_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV_PO_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV_PO_PWA_URL" serializeAs="String">
                <value />
            </setting>
        </Intersoft_ProjectOnline_QC_2017.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Intersoft_ProjectOnline_QC_2017.Properties.Settings>
            <setting name="PROD_DBConnection" serializeAs="String">
                <value>Data Source=IMSDEV2014SQL;Initial Catalog=PSO_Intersoft;User Id=sqltimesaldobruker;Password=Intersoft2016</value>
            </setting>
            <setting name="TEST_DBConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTimesaldo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PTR_AppName" serializeAs="String">
                <value />
            </setting>
            <setting name="PTR_AppEvent" serializeAs="String">
                <value />
            </setting>
            <setting name="PRR_AppName" serializeAs="String">
                <value />
            </setting>
            <setting name="PRR_AppEvent" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV_QC_Reportname" serializeAs="String">
                <value>Count Rows short - Intersoft.xlsx</value>
            </setting>
            <setting name="TEST_QC_Reportname" serializeAs="String">
                <value>Count Rows short - Intersoft.xlsx</value>
            </setting>
            <setting name="PROD_PO_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="PROD_PO_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PROD_PO_URL_PWA" serializeAs="String">
                <value />
            </setting>
            <setting name="TEST_PO_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="TEST_PO_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="TEST_PO_PWA_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="POD_AppName" serializeAs="String">
                <value />
            </setting>
            <setting name="POD_AppEvent" serializeAs="String">
                <value />
            </setting>
            <setting name="PROD_QC_ReportPath" serializeAs="String">
                <value>C:\Users\richard.lie\Desktop\</value>
            </setting>
            <setting name="Enviroment" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="TEST_QC_ReportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV_QC_ReportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PROD_QC_Reportname" serializeAs="String">
                <value>POQualityCheck2017.xlsx</value>
            </setting>
            <setting name="UseReportRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QC_SITE_1" serializeAs="String">
                <value>Intersoft Production</value>
            </setting>
            <setting name="QC_SITE_SEQ_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QC_SITE_SEQ_2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="QC_SITE_3" serializeAs="String">
                <value>Intersoft Test 2</value>
            </setting>
            <setting name="QC_SITE_DBC_3" serializeAs="String">
                <value>Data Source=IMSDEV2014SQL;Initial Catalog=PSO_Intersoft;User Id=sqltimesaldobruker;Password=Intersoft2016</value>
            </setting>
            <setting name="QC_SITE_SEQ_3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="QC_SITE_4" serializeAs="String">
                <value>Intersoft Test 4</value>
            </setting>
            <setting name="QC_SITE_DBC_4" serializeAs="String">
                <value>Data Source=IMSDEV2014SQL;Initial Catalog=PSO_Intersoft;User Id=sqltimesaldobruker;Password=Intersoft2016</value>
            </setting>
            <setting name="QC_SITE_SEQ_4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="QC_SITE_5" serializeAs="String">
                <value>Intersoft Test 5</value>
            </setting>
            <setting name="QC_SITE_DBC_5" serializeAs="String">
                <value>Data Source=IMSDEV2014SQL;Initial Catalog=PSO_Intersoft;User Id=sqltimesaldobruker;Password=Intersoft2016</value>
            </setting>
            <setting name="QC_SITE_SEQ_5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="QC_TEST_TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QC_NUMBERS_OF_SITE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="QC_SITE_DBC_1" serializeAs="String">
                <value>Data Source=IMSSQLREPORTING;Initial Catalog=PSO_Intersoft_History;Integrated Security=SSPI</value>
            </setting>
            <setting name="QC_SITE_2" serializeAs="String">
                <value>Intersoft Demo </value>
            </setting>
            <setting name="QC_SITE_DBC_2" serializeAs="String">
                <value>Data Source=IMSSQLREPORTING;Initial Catalog=PSO_Intersoft_History_Demo;Integrated Security=SSPI</value>
            </setting>
        </Intersoft_ProjectOnline_QC_2017.Properties.Settings>
    </applicationSettings>
</configuration>